* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    height: 100vh;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Montserrat';
    font-size: 7em;
    width: auto;
    text-transform: capitalize;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
}